<h1><%= @dish.name %></h1>

<h3>From: <%= @dish.venue.name %></h3>

<img src="<%= @dish.image_url %>" alt="">

<div class="button_box"></div>
<a href="/dishes/<%= @dish.id %>/edit"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Edit</button></a>
<a href="/dishes/<%= @dish.id %>/delete"><button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete</button></a>
<a href="/dishes"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">All Dishes</button></a>

<%= form_tag '/comments', method: 'post' do %>
<input type="hidden" name="dish_id" value="<%= @dish.id %>">
  <label for="">Comment</label>
  <textarea name="content" id="" cols="30" rows="8"></textarea>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Post comment</button>
<% end %>

<% @comments.each do |comment| %>
<p><%= comment.content %></p>
<a href="/comments/<%= comment.id %>/edit"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Edit</button></a>
<a href="/comments/<%= comment.id %>/delete"><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete</button></a>
<% end %>


