<h1><%= "#{@results['Title']}" %></h1>

<ul> 
  <li>Released: <%= "#{@results['Released']}" %></li>
  <li>Director: <%= "#{@results['Director']}" %></li>
  <li>Cast: <%= "#{@results['Actors']}" %></li>
  <li>Plot: <%= "#{@results['Plot']}" %></li>
  <li>IMDB Rating: <%= "#{@results['Ratings'][0]["Value"]}" if @results['Ratings'][0] %></li>
  <li>Rotten Tomatoes Rating: 
    <% if @results['Ratings'][1] %>
      <%= "#{@results['Ratings'][1]["Value"]}"   %>
    <% else %>
      "N/A"
    <% end %>
  </li>
  <li>Metacritic Rating: 
    <% if @results['Ratings'][2] %>
     <%= "#{@results['Ratings'][2]["Value"]}"   %>
    <% else %>
      "N/A"
    <% end %>
  </li>
</ul>

<img src="<%= "#{@results['Poster']}" %>" alt="">