<h1><%= "#{@results.title}" %></h1>

<ul> 
  <li>Released: <%= "#{@results.released}" %></li>
  <li>Director: <%= "#{@results.director}" %></li>
  <li>Cast: <%= "#{@results.actors}" %></li>
  <li>Plot: <%= "#{@results.plot}" %></li>
  <li>IMDB Rating: <%= "#{@results.imdb_rating}" %></li>
</ul>

<img src="<%= "#{@results.image_url}" %>" alt="">